html, body {
  margin: 0;
  padding: 0;
  background-image: url("./../img/sky.jpg");
  text-align: center;
}

#main-page, #rules-game, #records-page, #about-page {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  margin: auto;
  z-index: 20;

  width: 60%;
  height: 80%;

  background-image: url("./../img/background-title.jpg");
  background-position: center;
  background-size: cover;
  border: 10px solid red;
  border-radius:  1em;
}

#main-page {
  display: flex;
  align-items: center;
  justify-content: center;
}
#rules-game,  #records-page, #about-page {
  display: block;
  text-align: center;
}

canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  margin: auto;

  width: 60%;
  height: 80%;

  border: 10px solid red;
  border-radius: 1em;

  transform: translateZ(0);
  will-change: transform;
}

button{
  margin-top: 10px;
  width: 7em;
  height: 1.8em;
  border-radius: 3.125em;
  font-size: 1.25em;
  font-style: italic;
  font-family: "Open Sans", sans-serif;
  background-color: #21da1b;
}

button:focus {
  outline: none;
}

h1, h3, li, button {
  color: white;
}

ul li {
  list-style: none;
}

#block-save-result {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: none;
  width: 18.2em;
  height: 12.5em;
  border: 0.625em solid red;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

#message {
  display: inline-block;
  align-content: center;
  color: white;
  font-size: 1.5em;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
}

#user-name {
  display: inline-block;
  font-size: 1.25em;
  font-family: Arial, serif;
  font-style: italic;
  color: black;
  text-align: center;
}

#save-result {
  display: inline-block;
  width: 50%;
  font-size: 1.25em;
  font-family: "Open Sans", sans-serif;
}

#continue-game {
  display: inline-block;
  width: 50%;
  font-size: 1.25em;
  font-family: "Open Sans", sans-serif;
}

.table-cell {
  padding: 0.5em;
  border: 2px solid white;
  font-size: 0.9em;
  text-align: center;
}

table {
  margin: auto;
  width: 60%;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: white;
}

